/* main sections */

body {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
}

.nav,
.hero {
    background-color: #1f2937;
}

/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.hero-secondary,
.navmenu  {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

/* hero */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 15%;
    
}

.hero-left {
    display: flex;
    flex-flow: column;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    height: 300px;
    width: 700px;
    justify-content: space-between;
    align-items: left;
}

.hero-cta {
    padding: 20px 50px;
    background-color: #3882f6;
    font-size: 20px;
    color: #f9faf8;
    border: none;
    border-radius: 20px;
    width: fit-content;
}

.hero img {
    height: 300px;
    width: auto;
    border-radius: 30px;
}

.hero-secondary {
    width: 80%;
}

/* info */

.info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px 10%;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 30px;
}

.info-imgs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
}

.info-imgs img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.imgtext {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    flex: auto;
    width: 20%;
    font-size: 19px;
}

.info-imgs img:hover {
    transition-duration: 0.4s;
    height: 290px;
    width: 290px;
}

/* quote */

.quote {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 90px 300px;
    gap: 30px;
}

.quotetxt {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quoter {
    display: flex;
    justify-content: right;
    font-size: 36px;
    font-style: italic;
    font-weight: bolder;
    color: #1f2937;
}

/* cta */

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.cta.modal {
    display: flex;
    gap: 10px;
    background-color: #3882f6;
    padding: 50px;
    color: white;
    font-size: x-large;
    justify-content: space-around;
    width: 70%;
    border-radius: 10px;
}

.cta.modal.text {
    display: flex;
    flex-flow: column;
    align-items: first baseline;
    width: 50%;
}

.cta.modal button {
    background-color: #3882f6;
    padding: 10px 30px;
    color: white;
    font-size: large;
    border-radius: 15px;
    border-color: white;
    box-shadow: none;
    border-style: solid;
}

#come {
    font-weight: bolder;
    font-size: xx-large;
}

button:hover,
.cta.modal button:hover {
    background-color: white;
    border: #3882f6;
    color: #3882f6;
}

/* footer*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}