/* main sections */
* {
    /* outline: solid; */
}

body {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
}

.nav,
.hero {
    background-color: #1f2937;
}

/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.hero-secondary,
.navmenu  {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

/* hero */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 15%;
    
}

.hero-left {
    display: flex;
    flex-flow: column;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    height: 300px;
    width: 700px;
    justify-content: space-between;
    align-items: left;
}

.hero-cta {
    padding: 20px 50px;
    background-color: #3882f6;
    font-size: 20px;
    color: #f9faf8;
    border: none;
    border-radius: 20px;
    width: fit-content;
}

.hero img {
    height: 300px;
    width: auto;
    border-radius: 30px;
}

.hero-primary {
    
}

.hero-secondary {
    width: 80%;
}

/* info */

.info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px 10%;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 30px;
}

.info-imgs {
    display: flex;
    justify-content: space-around;
}

.info-imgs img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.imgtext {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 20%;
    font-size: 19px;
}